<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaowudr.atmsite.mapper.AccountMapper">
    <insert id="insertUser" parameterType="com.xiaowudr.atmsite.pojo.Account">
        INSERT INTO NGSCUSER (strUserID,strPasswd,strName,strTradeCode,strSocNo,strEMail)
        VALUES (#{account}, #{encryptedPassword}, #{name}, #{transactionPassword},#{idCard},#{email})
    </insert>

    <select id="getUserByAccount" parameterType="String" resultType="com.xiaowudr.atmsite.pojo.Account">
        SELECT strUserID AS account, strPasswd AS password, strName AS name,
               strTradeCode AS transactionPassword, strSocNo AS idCard, strEMail AS email
        FROM NGSCUSER
        WHERE strUserID = #{account}
    </select>

</mapper>
