<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaowudr.atmsite.mapper.AccountMapper">
    <insert id="insertUser" parameterType="com.xiaowudr.atmsite.pojo.Account">
        INSERT INTO NGSCUSER (strUserID,strPasswd,strName,strTradeCode,strSocNo,strEMail)
        VALUES (#{accountID}, #{encryptedPassword}, #{name}, #{transactionPassword},#{idCard},#{email})
    </insert>

    <select id="getUserByAccount" parameterType="String" resultType="com.xiaowudr.atmsite.pojo.Account">
        SELECT strUserID AS accountID, strPasswd AS encryptedPassword, strName AS name,
               strTradeCode AS transactionPassword, strSocNo AS idCard, strEMail AS email
        FROM NGSCUSER
        WHERE strUserID = #{accountID}
    </select>

    <update id="updateUser" parameterType="com.xiaowudr.atmsite.pojo.Account">
        UPDATE NGSCUSER
        SET strPasswd = #{encryptedPassword},
            strName = #{name},
            strTradeCode = #{transactionPassword},
            strSocNo = #{idCard},
            strEMail = #{email}
        WHERE strUserID = #{accountID}
    </update>

    <update id="lockUser">
        UPDATE USER_ANTISCRIPT SET ISBLOCKED=1, LOCKTYPE= #{lockType} WHERE ACCOUNT= #{accountId}
    </update>


</mapper>
