<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaowudr.atmsite.mapper.AccountTimeMapper">
    <insert id="insertAccountTime" parameterType="com.xiaowudr.atmsite.pojo.AccountTime">
        insert into ACCOUNT_TIME(Account, TimeType, TimeRemain, TimeEnd) values(#{account}, #{accountType}, #{timeRemain}, dateadd(day,#{days},getdate()));
    </insert>

    <select id="callAddUserAccountTime" parameterType="map">
        {call ADD_USER_ACCOUNT_TIME(#{account, jdbcType=VARCHAR}, #{money, jdbcType=INTEGER})}
    </select>

</mapper>
