<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaowudr.atmsite.mapper.RegistrationCodesMapper">
    <insert id="insertRegistrationCodes" parameterType="com.xiaowudr.atmsite.pojo.RegistrationCodes">
        INSERT INTO REGISTRATIONCODES (REGISTERNO, REGISTERTYPE, ISUSED)
        VALUES (#{registerNo}, #{registerType}, #{isUsed})
    </insert>

    <select id="getRegistrationCodes" parameterType="String" resultType="com.xiaowudr.atmsite.pojo.RegistrationCodes">
        SELECT REGISTERNO, REGISTERTYPE, ISUSED FROM REGISTRATIONCODES  WHERE REGISTERNO = #{registerNo}
    </select>

    <delete id="deleteRegistrationCodes" parameterType="String">
        DELETE FROM REGISTRATIONCODES WHERE REGISTERNO = #{registerNo}
    </delete>

    <update id="updateIsUsed" parameterType="com.xiaowudr.atmsite.pojo.RegistrationCodes">
        UPDATE REGISTRATIONCODES
        SET ISUSED = #{isUsed}
        WHERE REGISTERNO = #{registerNo}
    </update>

</mapper>
